body {
  background-color: rgb(250, 250, 250);
}

input {
  padding: 0.5rem;
  margin: 0.25rem;
  font-size: large;
}

button {
  padding: 0.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  button {
    float: right;
  }
}
