body {
  background-color: rgb(250, 250, 250);
}

input {
  padding: 0.5rem;
  margin: 0.25rem 0.25rem 0.25rem 0.5rem;
  font-size: large;
}

textarea {
  width: 95%;
  max-width: 1000px;
  min-height: 300px;
  font-size: large;
  padding: 0.5rem;
}

p {
    max-width: 1000px;
}

button {
  padding: 0.5rem;
  cursor: pointer;
}

.auth {
  width: 90%;
}

.marginalized {
  margin: 0.25rem 0.25rem 0.25rem 0.5rem;
}

.logo {
  width: 100%;
}

.loginContainer {
  width: 400px;
}

@media screen and (max-width: 600px) {

  .loginContainer {
    width: 100%;
  }

  .marginalized {
    margin: 0;
  }

}
